# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\工作区\git项目目录\update-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
